@model IEnumerable<QuoteWebApp_Models.Models.Quote>

@{
    ViewData["Title"] = "ListQuotes";
}

<h1>List Quotes</h1>

<div class="row">
    <div class="col-md-4">
<form asp-controller="Quotes" asp-action="ListQuotes" >
    <div class="form-group">
        <label class="form-label">Author Name</label>
        <select name="SearchString" class="form-control" asp-items="ViewBag.AuthorId" value="Filter"></select>
        <input type="submit" class="btn btn-secondary mt-2" style="background-color:#3b6767" value="Filter" class="btn btn-primary" />
    </div>
   
   
</form>
</div>
</div>

<p class="mt-2">
    <a asp-action="AddQuote" class="btn btn-success">Add Quote</a>
    <a asp-action="GetRandomQuote" class="btn btn-secondary">Get Random Quote </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    <a asp-action="UpdateQuote" class="btn btn-secondary" style="background-color:#3b6767" asp-route-id="@item.Id">Update Quote</a> |
                    <a asp-action="DeleteQuote" class="btn btn-danger"   asp-route-id="@item.Id">Delete Quote</a>
                </td>
            </tr>
        }
    </tbody>
</table>

